<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Bạn có một tin nhắn đến từ: <%= @message.name %>!</p>
<p>Email: <%= @message.email %></p>

<p>Nội dung tin nhắn <br>
  --------------------------
</p>
<p><%= @message.message %></p>
</body>
</html>
